*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#restartButton {
    top:1%;
    left:93%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: orange; 
}

#shoot {
    top:1%;
    left:83%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: red; 
}
