*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h2 {
    padding: 0.5rem;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
button {
    font-family: 'Poppins', sans-serif;
}

/* Restart Button */
#restartButton {
    top:1%;
    left:93%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: orange; 
}

/* Shoot Button */
#shoot {
    top:1%;
    left:83%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: red; 
}

/* Default View Button */
#defaultView {
    top:1%;
    left:73%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    background: rgb(132, 216, 255); 
}
